<div id="progress-bar" style="visibility: hidden;">
  <div><span id="progress-text">Warming up...</span></div>
  <div style="background: gray; position: relative; width: 100%; height: 20px;">
    <div id="progress-width" style="width: 0%; height: 100%; position: absolute; background: green;"></div>
  </div>
</div>

