<%# app/views/urls/_import_notification.html.erb %>
<div id="progress-bar-<%= batch.id %>" class="progress" style="visibility: hidden;">
  <div class="progress-bar bg-success" id="progress-width-<%= batch.id %>" role="progressbar" style="width: 0%;">
    <span id="progress-text-<%= batch.id %>">Warming up...</span>
  </div>
</div>
<div>
  <p>The upload is <span id="progress-text-percentage-<%= batch.id %>">0%</span> processed.</p>
</div>
