<div id="progress-bar" style="visibility: hidden;" data-upload-progress-target="progress">
  <div>Uploading data to our servers: <span id="progress-text" data-upload-progress-target="progress-text">Warming up...</span></div>
  <div id="progress-bar" style="background: gray; position: relative; width: 80%; height: 20px;">
    <div id="progress-width" data-upload-progress-target="progress-width" 
        style="width: 0%; height: 100%; position: absolute; background: green;">
    </div>
  </div>
  <div>
    <p>Stay tight. The upload is currently <span id="progress-text-percentage" 
        data-conversion-progress-target="progress-text">0%</span> processed.</p>
  </div>
</div>
