<div class="container">
  <div id="<%= dom_id url %>">
    <div class="card">
      <div class="card-body">
        <p>
          <strong>Short url:</strong>
          <%= link_to url.short_url, url_path(:id => url.id) %>
        </p>
        <p>
          <strong>Number of visits:</strong>
          <%= url.click %>
        </p>
      </div>
    </div>
    <br/>
  </div>
</div>
