
<div class="container">
  <div id="<%= dom_id url %>">
    <p>
      <strong>Long url:</strong>
      <%= url.long_url %>
    </p>

    <p>
      <strong>Short url:</strong>
      <%= url.short_url %>
    </p>

    <p>
      <strong>Click:</strong>
      <%= url.click %>
    </p>

  </div>

</div>
