<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1>Urls</h1>

  <div id="urls">
    <% @urls.each do |url| %>
      <%= render url %>
      <p>
        <%= link_to "Show this url", urls_show_path(:id => url.short_url) %>
      </p>
    <% end %>
  </div>

</div>
