<div class="container">
  <h1>Bulk Upload Urls</h1>
  <%= form_for @url, url: urls_create_path do |f| %>
    <div class="form-group">
      <%= f.label :file, "Upload CSV File" %>
      <%= f.file_field :file, accept: ".csv",  class: 'form-control-file', required: true %>
    </div>
    <br/>
    <br/>
    <div class="actions">
      <%= f.button "Upload File", type: :submit, class: "btn btn-primary" %>
    </div>
    <br/>
    <br/>
    <div id="progress-bar" style="visibility: hidden;" data-upload-progress-target="progress">
      <div>Uploading data to our servers: <span id="progress-text" data-upload-progress-target="progress-text">Warming up...</span></div>
      <div id="progress-bar" style="background: gray; position: relative; width: 80%; height: 20px;">
        <div id="progress-width" data-upload-progress-target="progress-width" 
        style="width: 0%; height: 100%; position: absolute; background: green;">
        </div>
      </div>
      <div>
        <p>Stay tight. The upload is currently <span id="progress-text-percentage" 
        data-conversion-progress-target="progress-text">0%</span> processed.</p>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>
</div>
