<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div id="upload-status"></div>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-6">
      <div class="upload-form">
        <%= form_for @new_url, url: urls_path, html: { data: { turbo: true } } do |f| %>
          <div class="form-group d-flex align-items-center justify-content-center">
            <%= f.file_field :file, accept: ".csv", class: "form-control" %>
          </div>
          <div class="actions mt-4">
            <%= f.button "Upload File", type: :submit, class: "btn btn-primary mr-2" %>
          </div>
        <% end %>
        <p class=" mt-4">
          You can click <a href="/download/">here</a> to download a sample CSV file.
        </p>
      </div>
    </div>
  </div>
</div>
