<div class="container d-flex align-items-center justify-content-center">
  <div>
    <br/>
    <br/>
    <h1>Welcome to Url Shortener App</h1>
    <p> We are excited to have you. To get started either create an account or login if you have one</p>
    <br/>
    <button type='button' class="btn btn-primary btn-lg" onclick="location.href='<%= new_user_session_path() %>';">Get Started</button>
  </div>
</div>
