<div class="container">
  <% if @batches.size == 0 %>
    <br/>
    <br/>
    <div class="container d-flex align-items-center justify-content-center">
      <div class="alert alert-primary" role="alert">
        Sorry, not sure if this is what you expected, but you do not have any batch metrics yet!
      </div>
    </div>
  <% else %>
    <h1 class="batch-metrics-header text-center">Batch Metrics</h1>
    <div id="batches">
      <% @batches.each do |batch| %>
        <%= render partial: 'batch', locals: { batch: batch } %>
      <% end %>
    </div>
    <%= link_to_prev_page @batches, 'Prev Page', class: "btn btn-primary" %>
    <%= link_to_next_page @batches, 'Next Page', class: "btn btn-primary" %>
  <% end %>
</div>
