<div class="container d-flex align-items-center justify-content-center">
  <div>
    <br/>
    <% urls.each do |url| %>
      <%= render url %>
    <% end %>
      <div class="d-flex justify-content-center">
      <%= link_to_prev_page urls, 'Prev Page', class: "btn btn-primary mx-2" %>
      <%= link_to_next_page urls, 'Next Page', class: "btn btn-primary mx-2" %>
    </div>
    <br/>
  </div>
</div>
