<div class="container">
  <h1>Batch Urls Listing</h1>
  <% urls.each do |url| %>
    <%= render url %>
  <% end %>
  <%= link_to_prev_page @urls, 'Previous Page' %>
  <%= link_to_next_page @urls, 'Next Page' %>
  <br/>
</div>
