<div id="batch-id" data-batch-id="<%= batch.try(:id) %>"></div>
<div class="container d-flex align-items-center justify-content-center">
  <div>
    <br/>
    <%= render "urls/import_notification" %>
  </div>
</div>
