
  <% if current_user %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#"
     id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      My Profile
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li><a class="dropdown-item" href="#">Logout</a></li>
    </ul>
  </li>
  <% else %>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#"
     id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      My Profile
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li><a class="dropdown-item" href="#">Create Account</a></li>
      <li><a class="dropdown-item" href="#">Login</a></li>
    </ul>
  </li>
  <% end %>